@font-face {
    font-family: Arial;
    font-weight: 700;
}

.wp-block-create-block-user-wp-block {
    font-family: Arial, sans-serif;
    font-size: 30px;
    max-width: 500px !important;
}

.uwb-block{
    background: lightgray;
    padding: 15px;
}
.uwb-title{
    background: black;
    color: white;
    padding: 5px;
    text-align: center;
    height: 40px;
}
.uwb-image{
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.uwb-desc{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 66px;
    color: white;
}
.uwb-details{
    flex-flow: row nowrap;
    align-content: flex-start;
}

.uwb-user-id{
    display: none;
}
